body {
  margin: 0;
  /* font-family: 'Roboto'; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background: linear-gradient(#2A00B7,#42006C); */
  background-color: #e75fb2;
  background-image: linear-gradient(225deg, #e75fb2 0%, #852490 50%, #1e3ad9 100%);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
